//===========================
// Breakpoints
//===========================

$bp-xsm: 544px;
$bp-sm-dwn: max-width 767px;
$bp-sm: 768px;
$bp-xmd: 850px;
$bp-md-dwn: max-width 1024px;
$bp-md: 1025px;
$bp-lg: 1250px;
$bp-fs: 1550px;
