// Styling for the top issues paragraph.

.paragraph--type--top-issues {
  width: 100%;
  background-color: $campaign-primary;
  position:relative;

  .field--name-field-half-width-of-screen-image {
    height: 800px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      min-height: 100%;
      max-width: none;
    }
  }

  .field__label {
    width: 90%;
    font-size: 32px;
    font-family: $font-sans;
    text-align: left;
    text-transform: uppercase;
    padding: 2rem 0 1rem;
    margin: auto;
    position: relative;
    color: $color-white;
    border-bottom: 1px solid $color-yellow-mid;
  }

  .field--name-field-top-issue {
    position: absolute;
    height: 730px;
    width: 66%;
    top: 2rem;
    right: 2rem;
    background-color: $campaign-primary;
  }

  .view-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;


    .views-row {
      width: 100%;
      margin: 0 auto 1rem;
      color: $color-white;
      text-align: center;

      .views-field-created {
        padding-bottom: .5rem;
        font-style: italic;
        font-size: 12px;
      }

      .views-field-field-issue-icon {
        width: 50px;

        .fontawesome-icon {
          font-size: 36px;
          color: $color-yellow-mid;
          width: 100%;
          float: left;
        }

      }

      .views-field-title {
        padding: .25rem 0 .5rem;
        margin-bottom: 1rem;
        margin-left: 20px;
        width: calc(100% - 70px);
        text-align: left;
        border-bottom: 1px solid $color-yellow-mid;
        display: inline-block;
        float: left;


        a {
          color: $color-white;
          font-size: 1.25rem;
          font-family: $font-sans;
          text-decoration: none;
        }
      }

      .views-field-body {
        padding-bottom: .5rem;
        display: inline-block;
        width: 100%;
        text-align: left;
      }

      .views-field-view-node {
        text-align: right;
        padding-top: 1rem;

        a {
          color: $color-yellow-mid;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            color: darken($color-yellow-mid, 10%);
          }
        }
      }
    }
  }

  @media only screen and (max-width: $bp-xmd) {

    .field--name-field-half-width-of-screen-image {
      height: 200px;
    }

    .field--name-field-top-issue {
      position: relative;
      width: 100%;
      top: inherit;
      right: inherit;
      height: inherit;
    }

  }

  @media only screen and (min-width: $bp-xmd) and (max-width: $bp-lg) {

    .field--name-field-top-issue {
      width: 93%;
    }

  }



}

